/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

/* --------------------
  navigation styles
------------------------*/
.navigation {
  display: flex;
  align-items: center;
  background-color: #562eff;
  width: 1440px;
  height: 94px;
}
.idea {
  display: flex;
  align-items: center;
}
.idea-image img {
  padding-left: 285px;
  width: 40px;
  height: 51px;
}
.idea-text {
  color: white;
  font-size: 24px;
  padding-left: 17px;
}
nav li {
  list-style: none;
  margin-right: 36px;
}
a {
  text-decoration: none;
  color: white;
}
nav ul {
  display: flex;
}
nav ul {
  position: relative;
  left: 452px;
}
.profile-picture {
  position: relative;
  left: 430px;
}

/* common style or utilities */
body {
  margin: 0px;
  font-family: "Poppins", sans-serif;
  background-color: #f3f1ff;
}
main {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.container {
  background-color: #ffffff;
  width: 870px;
  padding: 30px;
  border-radius: 5px;
  margin-top: 21px;
}
/* top-players style*/
.top-players {
  margin-bottom: 30px;
}
.section-title {
  color: #562eff;
  font-size: 24px;
  margin-top: 3px;
}
.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 30px;
}
.player {
  display: flex;
  align-items: center;
}
.player img {
  width: 56px;
  height: 56px;
}
.player-name {
  margin-left: 16px;
  font-size: 18px;
}
hr {
  border: 1px solid #d1d1d1;
  margin-bottom: 27px;
}
/* ------------------
    top blog tyles
---------------------*/
.blogs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 25px;
}
.blog {
  display: flex;
}
.blog .thumbnail img {
  width: 177px;
  height: 117px;
}
.blog-info {
  margin-left: 16px;
}
.blog-title {
  font-size: 20px;
}
.blog-author {
  color: #9f9f9f;
  font-size: 16px;
}
.blog-author a {
  color: #562eff;
  text-decoration: none;
  font-size: 16px;
}
/* --------------------
    courses styles
--------------------- */
.courses {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 24px;
}
.course {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.course-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.course .course-banner img {
  width: 266px;
  height: 141px;
}
.fa-star {
  font-size: 12px;
}
.fa-star.filled {
  color: #ffc014;
}
.fa-star.empty {
  color: #aeaeae;
}
.course-duration {
  background: #ffe4e8;
  border-radius: 15.6913px;
  color: #ff4a60;
  position: relative;
  right: 10px;
  font-size: 12px;
  padding: 5px;
  margin-bottom: 3px;
}
/* ------------------
    Media Queries
--------------------- */
/* Mobile Devices */
@media only screen and (max-width: 688px) {
  .container {
    width: 100%;
  }
  .players,
  .blogs,
  .courses {
    grid-template-columns: repeat(1, 1fr);
  }
  .player,
  .blog {
    flex-direction: column;
  }
}
/* tablet devices */
@media only screen and (min-width: 688px) and (max-width: 992px) {

  .container {
    width: 100%;
  }
  .players,
  .courses {
    grid-template-columns: repeat(2, 1fr);
  }
  .blogs {
    grid-template-columns: repeat(1, 1fr);
  }
}